html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	font-family: Arial, verdana, sans-serif;
	font-size: 13px;
	line-height: 16px;
}

button {
	padding: 8px 10px;
	border-radius: 3px;
	border: 1px solid gray;
	color: #414141;
	text-shadow: 0 1px 0 #F7F7F7;
	font-weight: bold;
	font-size: inherit;
	background: -moz-linear-gradient(top, #ffffff 0%, #dddddd 8%, #cccccc 100%);
	background: -webkit-linear-gradient(top, #ffffff 0%, #dddddd 8%, #cccccc 100%);
	background: -ms-linear-gradient(top, #ffffff 0%, #dddddd 8%, #cccccc 100%);
}

#drawArea {
	position: relative;
	width: 800px;
	height: 600px;
}

#drawArea > canvas {
	position: absolute;
	width: 100%;
	height: 100%;
}

#layerFg {
	z-index: 1;
}

#layerBg {
	z-index: 0;
	background-color: rgb(31, 86, 122);
}

#message {
	display: none;
}

.mainWrap {
	width: 800px;
	height: 100%;
	margin: auto;
}