html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, verdana, sans-serif;
    font-size: 13px;
    line-height: 16px;
}

button {
    padding: 8px 10px;
    margin: 0;
    border-radius: 3px;
    border: 1px solid gray;
    color: #414141;
    text-shadow: 0 1px 0 #F7F7F7;
    font-weight: bold;
    font-size: inherit;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 8%, #dddddd 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 8%, #dddddd 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 8%, #dddddd 100%);
}

button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.2);
}

button:active {
    box-shadow: none;
    background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee 8%, #eeeeee 100%);
    background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee 8%, #eeeeee 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee 8%, #eeeeee 100%);
}

#drawArea {
    position: relative;
    width: 900px;
    height: 600px;
}

#drawArea > canvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#layerFg {
    z-index: 1;
}

#layerBg {
    z-index: 0;
    background-color: #CBEBFF;
    box-shadow: 0 0 4px rgba(53, 157, 253, 0.25) inset;
}

#message {
    display: none;
}

.mainWrap {
    width: 900px;
    height: 100%;
    margin: auto;
}

.controlsRow {
    margin-top: 10px;
}